---
const PROJECTS = [
    {
        title: "Portfolio Website",
        description: "A personal portfolio website to showcase my projects and skills.",
        image: "/projects/p1.jpeg",
        respository: "",
        link: "",
        tags: ["Astro", "TailwindCSS", "JavaScript"],
    },
    {
        title: "E-commerce Platform",
        description: "An online store built with modern web technologies.",
        image: "/projects/p3.png",
        respository: "",
        link: "",
        tags: ["Astro", "TailwindCSS", "JavaScript"],
    },
    {
        title: "Blog Application",
        description: "A full-featured blog application with user authentication.",
        image: "/projects/p2.jpg",
        respository: "",
        link: "",
        tags: ["Astro", "TailwindCSS", "JavaScript"],
    },
];
---
<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
{
    PROJECTS.map((project) => (
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg">
            <div class="p-2">
                <img
                src={project.image}
                alt={project.title}
                class="w-full h-40 object-cover rounded-lg"
            />
            </div>
            <div class="px-4 py-2">
                <h3 class="text-lg font-semibold ">{project.title}</h3>
                <p class="text-gray-400 text-sm mb-4">{project.description}</p>
                <div class="flex flex-wrap gap-2 mb-4">
                    {project.tags.map((tag) => (
                        <span class="bg-blue-600 text-white text-xs font-semibold px-2 py-1 rounded">
                            {tag}
                        </span>
                    ))}
                </div>
                <div class="flex gap-4">
                    {project.link && (
                        <a
                            href={project.link}
                            target="_blank"
                            rel="noopener"
                            class="text-sm inline-block px-4 py-2 bg-green-600 text-white font-semibold rounded-lg hover:bg-green-700 transition"
                        >
                            Live Demo
                        </a>
                    )}
                    {project.respository && (
                        <a
                            href={project.respository}
                            target="_blank"
                            rel="noopener"
                            class="text-sm inline-block px-4 py-2 border border-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition"
                        >
                            View Code
                        </a>
                    )}
                </div>
            </div>
        </div>
    ))
}

</div>
