---
import { PROJECTS } from "../data/projects.ts";
---

<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
    {
        PROJECTS.map(
            ({ image, title, slug, description, tags, link, respository }) => (
                <article class="bg-gray-800 rounded-lg overflow-hidden shadow-lg shandow-blue-900/50 hover:shadow-blue-600/50 hover:scale-[1.02] transition duration-300 hover:cursor-pointer">
                    <div class="p-2">
                        <a href={`/projects/${slug}`}>
                            <img
                                transition:name={`img-${slug}`}
                                src={image}
                                alt={title}
                                class="w-full h-40 object-cover rounded-lg"
                            />
                        </a>
                    </div>
                    <div class="px-4 py-2">
                        <h3 class="text-lg font-semibold ">{title}</h3>
                        <p class="text-gray-400 text-sm mb-4">{description}</p>
                        <div class="flex flex-wrap justify-center gap-2 mt-2">
                            {tags.map((tag) => (
                                <span
                                    class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                                >
                                    <tag.icon class="size-4" />
                                    {tag.name}
                                </span>
                            ))}
                        </div>
                        <div class="flex items-center justify-center gap-4 py-4">
                            {link && (
                                <a
                                    href={link}
                                    target="_blank"
                                    rel="noopener"
                                    class="relative overflow-hidden text-sm inline-block px-4 py-2 bg-green-600 text-white font-semibold rounded-lg shadow-md transition-all duration-300 group"
                                >
                                    <span class="relative z-10">Live Demo</span>
                                    <span class="absolute left-0 top-0 h-full w-0 bg-green-700 transition-all duration-500 group-hover:w-full" />
                                </a>
                            )}

                            {respository && (
                                <a
                                    href={respository}
                                    target="_blank"
                                    rel="noopener"
                                    class="relative overflow-hidden text-sm inline-block px-4 py-2 border border-blue-600 text-white font-semibold rounded-lg shadow-md transition-all duration-300 group"
                                >
                                    <span class="relative z-10">View Code</span>
                                    <span class="absolute left-0 top-0 h-full w-0 bg-blue-700 transition-all duration-500 group-hover:w-full" />
                                </a>
                            )}
                        </div>
                    </div>
                </article>
            ),
        )
    }
</div>
